# Ignore everything by default
*

# Allow Git to look inside all directories
!*/

# Track Python scripts and Jupyter notebooks
!*.py
!*.ipynb
#Track the readme 
!*readme.md
# Always track this .gitignore file
!.gitignore
